// ==============================
//  utility/responsive.scss
// ==============================
@use "./foundation/mixin" as mix;

.u-sp{
  display: none;
  @include mix.mq(sp){
    display: block;
  }
}

.u-pc{
  @include mix.mq(tab){
    display: none;
  }
}
