// ==============================
//  utility/responsive.scss
// ==============================
@use "./foundation/mixin" as mix;

.u-sp{
  display: block;
  @include mix.bp-pc{
    display: none;
  }
}

.u-pc{
  display: none;
  @include mix.bp-pc{
    display: block;
  }
}
