@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

// ==============================
//  utility/utility.scss
// ==============================


//align------------------------------
.u-align-center {text-align: center;}
.u-align-left {text-align: left;}
.u-align-right {text-align: right;}

//text------------------------------
.u-textM{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.u-textS{
  font-size: 0.875rem;
}

//color-----------------------------
.u-bold{
  font-weight: bold;
}
.u-red{
  color: var.$red;
}
.u-gold{
  color: var.$gold;
}
