@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

// ==============================
//  utility/utility.scss
// ==============================


//align------------------------------
.u-align-center {text-align: center;}
.u-align-left {text-align: left;}
.u-align-right {text-align: right;}

//text------------------------------
.u-textM{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.u-text{
  font-size: 1rem;
  font-weight: normal;
}
.u-text{
  font-size: 1rem;
  font-weight: normal;
}
.u-textS{
  font-size: 0.875rem;
}
.u-underline{
  text-decoration: underline;
}

//color-----------------------------
.u-bold{
  font-weight: bold;
}
.u-red{
  color: var.$red;
}
.u-gold{
  color: var.$gold;
}


//background-----------------------------
.u-bgGold{
  background: var.$gold;
}
.u-bgDeepBlue{
  background: var.$deepBlue;
}
.u-bgOrange{
  background: var.$orange;
}
.u-bgOrange30{
  background: var.$orange30;
}
.u-bgYellow{
  background: var.$yellow;
}
.u-bgRed{
  background: var.$red;
  color: #fff;
}

//smallAccent-----------------------------
.u-square{
  display: inline-block;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background: var.$darkBrown;
}
