@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.p-aircon{
  .section01{
    color: #fff;
  }
  .c-title__l{
    font-family: var.$kaisei;
    text-align: center;
    &__text{
      margin-bottom: 88px;
      text-align: center;
      p{
        margin-bottom: 2rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
  .section02{
    .c-boxBorder{
      &__header{
        &__title{
          color: var.$darkBrown;
        }
        &__recommendText{
          margin-bottom: 56px;
        }
      }
    }
    .c-option__title{
      width: fit-content;
      margin-bottom: 16px;
      padding: 16px 24px;
      font-size: 1.5rem;
      font-weight: normal;
      @include mix.mq(tab) {
        font-size: 1.2rem;
        padding: 8px 16px;
        width: 100%;
      }
    }
    .c-table{
      padding-bottom: 56px;
      border-bottom: 3px dotted var.$darkBrown;
      &:last-of-type{
        padding: 0;
        border-bottom: none;
      }
      &__type{
        font-size: 1rem;
        font-weight: bold;
        &--blank{
          width: 400px;
        }
      }
      &__price{
        width: auto!important;
      }
    }
  }
}
