@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.p-coating{
  .section01{
    color: #fff;
    .movie{
      display: block;
      margin: 0 auto 56px;
    }
  }
  .c-title__l{
    font-family: var.$kaisei;
    text-align: center;
    // &:first-of-type{
    //   margin-bottom: 56px;
    // }
    &__text{
      font-size: 1.5rem;
      margin-bottom: 88px;
      p{
        margin-bottom: 2rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
  .section03{
    .c-title{
      &__l{
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
  .section04{
    &__flex{
      @include mix.flex(row, space-between, center);
      margin: 0 auto;
    }
  }
  .section05{
    text-align: center;
  }
}
