@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.p-insurance{
  .section01{
    color: #fff;
  }
  .c-title__l{
    font-family: var.$kaisei;
    text-align: center;
    &__textL{
      margin-bottom: 88px;
      @include mix.mq(tab) {
        font-size: 1.2rem;
        margin-bottom: 56px;
      }
      p{
        margin-bottom: 2rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
  &__flexBox{
    @include mix.flex(row, space-between, flex-start);
    margin-bottom: 56px;
    @include mix.mq(tab) {
      flex-direction: column-reverse;
    }
    &__text{
      margin-right: 56px;
      font-size: 1.5rem;
      @include mix.mq(tab) {
        font-size: 1rem;
        margin-right: 0;
      }
      p{
        margin-bottom: 1rem;
      }
    }
    &__image{
      max-width: 400px;
      border-radius: 16px;
      @include mix.mq(tab) {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
  &__handling{
    &__title{
      @include mix.flex();
      width: 100%;
      margin-bottom: 40px;
      padding: 0 16px;
      font-size: 2rem;
      color: var.$red;
      @include mix.mq(tab) {
        font-size: 1.5rem;
      }
      &::before,&::after{
        content: '';
        display: block;
        border-top: 1px solid var.$red;
        border-bottom: 0.5px solid var.$red;
        height: 4px;
        flex-grow: 1;
      }
    }
    &__inner{
      @include mix.flex(row, space-between, center);
      flex-wrap: wrap;
      @include mix.mq(tab) {
        flex-direction: column;
        justify-content: center;
        img{
          margin-bottom: 16px;
        }
      }
    }
  }
  .section02{
    .p-insurance__handling__inner{
      padding: 0 80px;
      justify-content: space-around;
      @include mix.mq(tab) {
        padding: 0 56px;
      }
      img{
        margin-bottom: 56px;
      }
    }
      @include mix.mq(tab) {
        .l-containerM{
          width: 100%;
        }
        .c-title__l__textL{
          text-align: left;
          br{
            display: none;
          }
      }
    }
  }
  .section03{
    @include mix.mq(tab) {
      .c-button01{
        width: 100%;
        &:first-of-type{
          margin-bottom: 24px;
        }
        img{
          width: 1rem;
        }
      }
    }
  }
}
