@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.p-repair{
  .section01{
    color: #fff;
    .c-title__l{
      font-family: var.$kaisei;
      text-align: center;
    }
    .l-flexRowToColumn{
      align-items: center;
      margin-bottom: 80px;
    }
    .l-section--half{
      font-size: 1.5rem;
      @include mix.mq(tab) {
        font-size: 1.2rem;
        img{
          margin-bottom: 24px;
        }
      }
    }
    .c-carBankenz{
      margin-bottom: 80px;
      &__title{
        margin-bottom: 24px;
      }
    }
  }
  .section02{
    .l-containerM{
      @include mix.mq(tab) {
        width: 100%;
      }
    }
      &__text{
        margin-bottom: 24px;
        text-align: left;
        font-size: 1.5rem;
        @include mix.mq(tab) {
          font-size: 1.2rem;
        }
        &:last-of-type{
          margin-bottom: 56px;
        }
      }
    }
    .p-repair__service{
      @include mix.flex(row, space-around, center);
      font-size: 1.5rem;
      margin-bottom: 32px;
      background: #fff;
      border-radius: 16px;
      border: 3px double var.$gold;
      @include mix.mq(tab) {
        flex-direction: column;
        font-size: 1rem;
        padding: 24px 16px;
      }
      img{
        width: 270px;
        height: 270px;
        margin-right: 56px;
        @include mix.mq(tab) {
          width: 100%;
          height: auto;
          margin-right: 0;
        }
      }
      &__text{
        width: 500px;
        line-height: 2em;
        font-size: 1.5rem;
        font-weight: bold;
        @include mix.mq(tab) {
          width: 100%;
          font-size: 1.2rem;
        }
      }
    }
  }
  .section03{
    .c-title__l__text{
      margin-bottom: 56px;
      text-align: center;
      @include mix.mq(tab) {
        font-size: 1.2rem;
        text-align: left;
      }
    }
}
