@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

/*--------------------------
  1.common
    -single/archive共通

    2.archive
---------------------------*/

// 1.common-------------------

.store{
  padding: 56px 0 200px;
  .c-boxBorder{
    display: block;
    padding: 32px;
    @include mix.mq(tab) {
      padding: 16px;
    }
    .c-button01--icon--gold{
      a{
        font-family:  "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;;
        font-size: 1.75rem;
        font-weight: bold;
        letter-spacing: 0.3em;
        @include mix.mq(tab) {
          font-size: 1.2rem;
        }
      }
    }
  }
  &__inner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 56px;
    margin-bottom: 32px;
    @include mix.mq(tab) {
      display: block;
    }
  }
  &__summary{
    @include mix.mq(tab) {
      margin-bottom: 32px;
    }
    &__title{
      @include mix.flex(row, flex-start, center);
      margin-bottom: 32px;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-break: keep-all;
      @include mix.mq(tab) {
        font-size: 1.2rem;
        margin-bottom: 24px;
        letter-spacing: 0;
        word-break: break-all;
      }
      img{
        margin-right: 16px;
      }
    }
    &__list{
      &__item{
        @include mix.flex(row, flex-start, center);
        padding: 16px 16px 16px 0;
        border-bottom: 1px solid var.$gray;
        &:first-of-type{
          padding: 0 16px 16px 0;
        }
        &:last-of-type{
          padding: 16px 16px 16px 0;
        }
        &:before{
          content: '';
          width: 6px;
          height: 2px;
          margin-right: 16px;
          background: var.$gold;
        }
        span{
          margin-right: 16px;
          font-weight: bold;
        }
      }
    }
  }
  &__service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
    &__inner{
      max-width: 54px;
      word-break: break-all;
      transition: 0.5s;
      span{
        display: block;
        text-align: center;
        font-size: 0.625rem;
        font-weight: bold;
      }
    }
    &__icon{
      @include mix.flex;
      width: 45px;
      height: 45px;
      margin: 0 auto 4px;
      border: 1px solid var.$gray;
      border-radius: 4px;
      img{
        display: block;
        text-align: center;
      }
      &:hover{
        border: 1px solid var.$gold;
        img{
          filter: var.$gold-filter;
        }
      }
    }
  }
}


// 2.archive-------------------

.post-type-archive-store{
  main{
    padding-bottom: 0;
  }
  .c-linkInPage{
    margin-bottom: 56px;
      button{
        a{
          font-size: 1.25rem;
          letter-spacing: 0.01em;
          @include mix.mq(tab) {
            font-size: .875rem;
            letter-spacing: 0;
          }
        }
      }
    }
    .c-boxBorder{
      .c-button01--icon--gold,.c-button01{
        width: 100%;
        margin-bottom: 32px;
        a{
          font-size: 1.75rem;
          @include mix.mq(tab) {
            font-size: 1.2rem;
          }
        }
      }
      .store{
        &__inner{
          grid-template-columns: 1fr;
          gap: 32px;
        }
        &__service{
          @include mix.flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          padding: 0 8px;
        }
      }
    }
    .station{
      @include mix.flex(row, space-between, flex-start);
      flex-wrap: wrap;
      &__item{
        width: calc((100% - 56px) / 2);
        @include mix.mq(tab) {
          width: 100%;
        }
      }
    }
    .section02{
      background: var.$red;
      color: #fff;
      .c-carBankenz{
        display: block;
        background: none;
        &__inner{
          @include mix.flex(row, space-between, center);
          margin-bottom: 40px;
        }
        iframe{
          margin-bottom: 56px;
        }
      }
    }
    .section03{
      color: #fff;
      .c-carBankenz{
        display: block;
        background: none;
        .c-title__m{
          font-size: 2.3rem;
          margin-bottom: 16px;
          img{
            width: 50px;
            height: auto;
            margin-right: 8px;
            vertical-align: middle;
        }
        }
        &__inner{
          @include mix.flex(row, space-between, center);
          margin-bottom: 40px;
        }
        iframe{
          margin-bottom: 56px;
        }
      }
    }
  }
