@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.p-solar{
  .section01{
    color: #fff;
  }
  .c-title__l{
    font-family: var.$kaisei;
    text-align: center;
    &__text{
      margin-bottom: 88px;
      p{
        margin-bottom: 2rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}
