// ==============================
//  layout/header.scss
// ==============================
@use "./foundation/mixin" as mix;

body{
  position: relative;
}

.l-header{
  position: absolute;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 99999;
  width: 88.8889%;
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  background: #fff;
  border-radius: 2rem;
  }
