@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-boxBorder{
  width: 100%;
  margin: 0 auto 56px;
  padding: 56px;
  background: #fff;
  border-radius: 16px;
  border: 3px solid var.$darkBrown;
  @include mix.mq(tab) {
    margin: 0 auto 32px;
    padding: 16px;
  }
  &__header{
    margin-bottom: 32px;
    padding-bottom: 24px;
    text-align: left;
    border-bottom: 1px solid var.$darkBrown;
    &__title{
      color: var.$red;
      font-size: 2.5rem;
      font-family: var.$kaisei;
      @include mix.mq(tab) {
        font-size: 1.5rem;
      }
    }
    &__subTitle{
      width: fit-content;
      padding: 8px;
      background: var.$deepBlue;
      color: #fff;
      @include mix.mq(tab) {
        font-size: .875rem;
        font-weight: bold;
        padding: 4px;
        margin-bottom: .5rem;
      }
    }
    &__feature{
      font-size: 1.2rem;
    }
    &__recommend{
      margin-right: 1.5rem;
      font-family: var.$kaisei;
      font-weight: bold;
      font-size: 1rem;
      display: flex;
      align-items: center;
      img{
        @include mix.mq(tab){
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      &:last-of-type{
        margin-left: 0;
      }
      img:first-of-type{
        margin-left: 1.5rem;
      }
    }
    &__time{
      margin-left: 1.5rem;
      font-family: var.$kaisei;
      font-size: 2.5rem;
      @include mix.mq(tab){
        font-size: 1.5rem;
      }
    }
    &__recommendText{
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  &__textM{
    font-size: 1.5rem;
    font-weight: bold;
    @include mix.mq(tab) {
      font-size: 1.2rem;
    }
  }
}
/*3-column*/
.c-box01{
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px) / 3);
  padding: 40px 24px;
  background: #fff;
  @include mix.mq(tab) {
    width: 100%;
    margin-bottom: 32px;
  }
  &__title{
    font-family: inherit;
    position: relative;
    font-size: 2rem;
    letter-spacing: 0.01em;
    text-align: left;
    color: var.$gold;
    line-height: normal;
    margin-bottom: 32px;
    border-bottom: 1px solid var.$gold;
    @include mix.mq(tab) {
      font-size: 1.5rem;
    }
    &:after{
      content: "";
      display: block;
      height: 0.5px;
      width: 100%;
      position: absolute;
      bottom: -3px;
      left: 0;
      background-color: var.$gold;
    }
    &__number{
      font-family: var.$en;
      font-size: 3.5rem;
      @include mix.mq(tab) {
        font-size: 2rem;
      }
    }
  }
  &__text{
    flex-grow: 1;
    margin-bottom: 32px;
    &__item{
      margin-bottom: 1rem;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  &__subtitle{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }
  &__image{
    display: block;
    object-fit: cover;
    margin-bottom: 40px;
  }
  &__list{
    margin-bottom: 80px;
    &__item{
      font-size: 1rem;
      font-weight: bold;
      @include mix.flex(row,flex-start,center);
      &:before{
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        margin-right: 4px;
        background: url('../images/common/check.svg') no-repeat;
        background-size: cover;
      }
    }
  }
}
.c-box02{
  background: var.$gray;
  padding: 16px;
  margin: 56px 0;
  &__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
  }
  &__inner{
    @include mix.flex(row,space-between,center);
    flex-wrap: wrap;
  }
}
.c-box03{
  padding: 24px;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  color: var.$darkBrown;
  border-radius: 16px;
  border: 5px double var.$gold;
  @include mix.mq(tab) {
    font-size: 1rem;
  }
}
.c-box04{
  display: flex;
  flex-direction: column-reverse;
  width: calc((100% - 56px) / 2);
  margin-bottom: 56px;
  @include mix.mq(tab) {
    width: 100%;
    margin-bottom: 32px;
  }
  &__image{
    object-fit: cover;
  }
  &__box{
    @include mix.flex(row, center, baseline);
    padding: 16px;
    background: var.$red;
    color: #fff;
    @include mix.mq(tab) {
      flex-direction: column;
    }
    &__title{
      font-size: 1.5rem;
      margin-right: 16px;
      @include mix.mq(tab) {
        font-size: 1.2rem;
      }
    }
    &__price{
      font-size: 56px;
      font-weight: bold;
      font-style: italic;
      @include mix.mq(tab) {
        width: 100%;
        font-size: 40px;
        text-align: center;
      }
    }
  }
}
.c-box--image{
    @include mix.flex(row, space-between ,center);
    &__wrap{
      @include mix.mq(tab) {
        margin-right: 1px;
      }
    }
    &__wrap--50{
      max-width: 8rem;
      margin-bottom: 16px;
    }
    &__title{
      display: block;
      padding: 4px;
      background: var.$darkBrown;
      color: #fff;
      text-align: center;
      font-size: 0.75rem;
      @include mix.mq(tab) {
        height: 3rem;
      }
    }
  }

.c-box--image02{
  @extend .c-box--image;
  .c-box--image__wrap{
    background: #fff;
    text-align: center
  }
  &__title{
    @extend .c-box--image__title;
    width: 100%;
    font-size: 1rem;
  }
  &__text{
    display: block;
    padding-bottom: 16px;
    font-size: 0.875rem;
  }
  img{
    padding: 16px;
  }
}
