@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-circleArrow{
  @include mix.flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: var.$border;
  transition: .5s;
  &:hover{
    border: 1px solid var.$gold;
  }
  &__image{
    width: 7.5px;
    height: auto;
  }
}

%button{
  position: relative;
  margin: 0 auto;
  display: block;
  font-size: 1.5rem;
  color: #fff;
  filter: var.$dropShadow;
  border-radius: 2rem;
  font-family: var.$kaisei;
  text-align: center;
  a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}

%icon-ab-left{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}

%icon-right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}

.c-button01{
  @extend %button;
  width: 40rem;
  padding: 6px;
  background: var.$darkBrown;
  transition: 0.5s;
  @include mix.mq(tab) {
    width: 90%;
    font-size: 1rem;
  }
  a{
    border: 1px dashed #fff;
    border-radius: 2rem;
    &:hover{
      color: #fff;
    }
  }
  img{
    @extend %icon-ab-left;
  }
  &:hover{
    background: var.$gold;
  }
  &--gold{
    @extend .c-button01;
    background: var.$gold;
    a{
      border: 1px dashed #fff;
      border-radius: 2rem;
      &:hover{
        color: var.$gold;
        border: 1px dashed var.$gold;
      }
    }
    img{
      @extend %icon-ab-left;
    }
    &:hover{
      background: #fff;
    }
  }
  &--icon{
    @extend .c-button01;
    a{
      @include mix.flex();
      border: 1px dashed #fff;
      border-radius: 2rem;
      &:hover{
        color: #fff;
      }
    }
    img{
      position: unset;
      transform: none;
      margin-right: 16px;
    }
    &:hover{
      background: var.$gold;
    }
  }
  &--icon--gold{
    @extend .c-button01;
    background: var.$gold;
    a{
      @include mix.flex();
      border: 1px dashed #fff;
      border-radius: 2rem;
      &:hover{
        color: var.$gold;
        border: 1px dashed var.$gold;
      }
    }
    img{
      position: unset;
      transform: none;
      margin-right: 16px;
    }
    &:hover{
      background: #fff;
      img{
        filter: var.$gold-filter;
      }
    }
  }
}

.c-button02{
  @include mix.flex();
  width: 100%;
  height: 64px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  background: var.$gold;
  box-shadow: var.$dropShadow;
  img{
    margin-left: 16px;
  }
}
