@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-mailMember{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  &__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px 24px;
    background: var.$gold;
    color: #fff;
    border-radius: 0.5rem;
    img{
      padding-right: 0.5rem;
      height: auto;
    }
  }
}
