@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-sns-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  position: absolute;
  top: 2rem;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.01em;
  img{
    vertical-align: middle;
    cursor: pointer;
    &:hover{
        filter: var.$gold-filter;
    }
  }
  .c-mapIcon{
    display: flex;
    align-items: center;
    &__text{
      margin-right: 4px;
    }
  }
  &--footer{
    @extend .c-sns-nav;
    position: unset;
    width: 22rem;
  }
}
