@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-table{
  @include mix.flex;
  margin-bottom: 56px;
  border-collapse: separate;
  table-layout: fixed;
  @include mix.mq(tab) {
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
  }
  tbody{
    width: 100%;
    @include mix.mq(tab) {
      width: auto;
    }
  }
  &:last-of-type{
    margin-bottom: 0;
  }
  &__title{
    font-size: 2.5rem;
    font-weight: bold;
  }
  &__inner{
    @include mix.flex(column,center,center);
    margin-right: 1px;
    width: calc(100% / 6);
    @include mix.mq(tab) {
      width: 100%;
    }
  }
  &__des{
    width: 100%;
    padding: 16px;
    color: #fff;
    background: var.$brown02;
    margin-bottom: 1px;
    word-break: keep-all;
    vertical-align: middle;
    &__description{
      display: block;
      font-size: 1rem;
      font-weight: normal;
    }
    &--short{
      @extend .c-table__des;
      width: 400px;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__type{
    font-size: .625rem;
    background: var.$gray;
    padding: 16px;
    font-weight: 400;
    word-break: keep-all;
    text-align: center;
    @include mix.mq(tab) {
      padding: .5rem;
    }
    &__top{
      font-size: 1rem;
      font-weight: bold;
      display: block;
    }
    &--blank{
      background: #fff;
    }
    &--6{
      @extend .c-table__type;
      width: calc(100% / 6);
    }
  }
  &__price{
    width: 128.33px!important;
    padding: 1rem;
    font-weight: bold;
    background: var.$gray-30;
    text-align: center;
    vertical-align: middle;
  }
  &__tr{
    width: 100%;
    display: inline-table;
    @include mix.mq(tab) {
      display: table-header-group;
    }
  }
}

.c-table02{
  border-collapse: separate;
  &__tbody{
    width: 100%;
  }
  &__tr{
    height: 56px;
  }
  &__th{
    width: 27.60416667%;
    padding: 16px;
    background: var.$darkBrown;
    color: #fff;
  }
  &__td{
    width: auto;
    padding: 16px;
    background: #fff;
    color: var.$darkBrown;
    text-align: left;
  }
}
