@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-title{
  margin: 0 auto 56px;
  &__l{
    font-size: 3rem;
    line-height: 2em;
    text-align: center;
    font-family: var.$kaisei;
    &__sub{
      display: flex;
      align-items: center;
      max-width: mix.$content-m;
      margin: 0 auto 56px;
      font-family: var.$en;
      font-size: 1.5rem;
      letter-spacing: 0.1em;
      color: var.$gold;
      &::before,&::after{
        content: '';
        display: block;
        border-top: 1px solid var.$gold;
        border-bottom: 0.5px solid var.$gold;
        height: 4px;
        flex-grow: 1;
      }
      &::before{
        margin-right: 1rem;;
      }
      &::after{
        margin-left: 1rem;
      }
    }
    &__text{
      max-width: mix.$content-m;
      margin: 0 auto;
      font-size: 1.5rem;
    }
    &__textL{
      max-width: mix.$content-m;
      margin: 0 auto 56px;
      font-size: 2.5rem;
      text-align: center;
    }
    &__list{
      max-width: fit-content;
      margin: 0 auto 72px;
      font-size: 1.5rem;
      &__item{
        @include mix.flex(row,start,center);
        margin-bottom: 24px;
        &:last-of-type{
          margin-bottom: 0;
        }
        img{
          width: 1.5rem;
          margin-right: 16px;
        }
      }
    }
  }
  &__m{
    font-size: 2.5rem;
    &__sub{
      @extend .c-title__l__sub;
    }
  }
  &--half{
    @extend .c-title;
    margin-bottom: 1rem;
  }
  &__left{
    font-size: 3rem;
  }
  &__text{
    font-size: 1.5rem;
    text-align: center;
  }
  &__category{
    font-family: var.$kaisei;
    color: var.$gold;
    @include mix.flex(row,flex-start,center);
    &:before{
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      background: url('./../images/common/glitter.svg');
      margin-right: 4px;
    }
  }
}
