@use "./foundation/variables" as var;
@use "./foundation/mixin" as mix;

.c-table{
  @include mix.flex;
  margin-bottom: 56px;
  border-collapse: separate;
  &:last-of-type{
    margin-bottom: 0;
  }
  &__title{
    font-size: 2.5rem;
    font-weight: bold;
  }
  &__inner{
    @include mix.flex(column,center,center);
    margin-right: 1px;
    width: calc(100% / 6);
  }
  &__des{
    width: 100%;
    padding: 16px;
    color: #fff;
    background: var.$brown02;
    margin-bottom: 1px;
    word-break: keep-all;
    vertical-align: middle;
    &--short{
      @extend .c-table__des;
      max-width: 16rem;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__type{
    font-size: .625rem;
    background: var.$gray;
    padding: 16px;
    font-weight: 400;
    word-break: keep-all;
    text-align: center;
    &__top{
      font-size: 1rem;
      font-weight: bold;
      display: block;
    }
  }
  &__price{
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    background: var.$gray-30;
    text-align: center;
  }
}
