@use "./foundation/variables" as val;
@use "./foundation/mixin" as mix;

.c-nav{
  display: flex;
  flex-direction: row;
  &__li{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  &__item{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: val.$kaisei;
    color: val.$darkBrown;
    border-left:1px dotted rgba(58, 50, 42, 0.3);
    font-size: 0.875rem;
    word-break: keep-all;
    &:hover{
      color: val.$gold;
    }
    &__image{
      margin-bottom: 0.5rem;
    }
  }
  &.active{
  top: 0;
  left: 0;
  z-index: 100;
  }
}
